{% extends 'home/base.html' %}

{% block body %}
{% block content %}
<div id="ad">
  <div class="medium-rectangle">
    <h1 class="text-center">McCarthy Code</h1>
    <div>
      <p class="text-center"><strong>Web & Mobile App Development</strong></p>
      <p class="text-center"><strong>Domain & Hosting Administration</strong></p>
    </div>
    <div>
      <p class="text-center">mccarthycode.com</p>
      <p class="text-center">info@mccarthycode.com</p>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}