{% extends 'home/base.html' %}{% load static %}

{% block content %}
<section id="about">
  <div class="container">
    <h3 class="h3">About Matt McCarthy and McCarthy Web Design</h3>
    <div class="img-container float-md-left d-inline-block">
      <a data-fancybox="gallery" href="{% static 'home/img/about.png' %}">
        <img src="{% static 'home/img/about_thumbnail.png' %}">
      </a>
    </div>
    <p>
      Matt McCarthy is a full-stack Web developer who completed coursework at the University of Illinois at Chicago (UIC) and graduated from the Coding Dojo, a 14-week bootcamp. His hobbies include <a class="external-link" href="http://www.coastercounter.com/mattmc318">scoring rollercoaster credits</a>, singing karaoke (mostly alt-rock and classic rock), and tinkering with Linux systems (currently Arch). Ever since the days of MySpace and the transition from dial-up to broadband Internet, Matt has been constantly intrigued by how computers and the Web have worked, and has always made an effort to understand new technologies as best he could. As a middle school student, he would analyze HTML code copy-and-pasted to his MySpace page, and would use Web resources to build his first, rudimentary Web page.
      <br>
      During his time at UIC (2011&ndash;2015), Matt majored in computer science and upheld an A average in his major coursework. While there, he was a member of the robotics team in the school's IEEE chapter. At the University of Illinois Urbana-Champaign (UIUC), he competed in both the Jerry Sanders Design Competition (JSDC), a robotics competition, and HackIllinois (also at UIUC), a software and hardware hackathon. At HackIllinois, he was a top-10 finalist in the hardware category, with roughly 200 contestants total at the time. Along with one other UIC student and IEEE robotics member, he designed and built a robotic arm using empty RedBull cans, a few servos, and an Electric Imp (IoT-connected processor). Sadly, Matt could not finish his degree due to financial constraints in conjunction with a years-long period of struggle with medical issues, which he eventually overcame.
      <br>
      From 2017 to 2018, Matt ended his educational hiatus by attending coursework at the Coding Dojo, where he reivewed Web fundamentals (HTML, CSS, JavaScript/jQuery) and learned three new software stacks: Django, .NET, and MEAN. Of the three, he strongly favored Django due to Python's syntactic ease and Django's core framework. It was upon graduating from the bootcamp that he decided to program in Python under Django full-time as a freelance developer, and thus McCarthy Web Design (MWD) was born.
      <br>
      It took months of constant preparations and fruitless interviews, but before the end of the year, Matt was able to land his first client, Coolwater Creations (CWC), under the name MWD. This was not his first-ever client&mdash;he had been hired in 2014 for Susan Kill Kegan & Associates (SKK&A) with a PHP back-end&mdash;but it was his first paid project using a more organized, streamlined <a class="external-link" href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC framework</a>. Later, he would design, develop, and host five more sites, including a redesign of SKK&A and the site you are viewing right now. All of these sites are available to view on <a href="{% url 'home:portfolio' %}">the portfolio page</a>.
      <br>
      In his business, and in his general computing practices, Matt adheres to <a class="external-link" href="https://en.wikipedia.org/wiki/KISS_principle">the KISS principle ("Keep it simple, stupid.")</a>. For all of his sites, this may mean more whitespace, vibrant, yet subdued color palettes, and basic functionality tied together in a way that is still appealing and functional to administrators and end users alike. He is constantly learning how to keep his software <a class="external-link" href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself">DRY ("Don't repeat yourself.")</a>, and has improved on this concept quite a bit over the years, allowing him to become a faster and more efficient developer.
      <br>
      To learn more about Matt, McCarthy Web Design, or how to obtain a site for yourself, check out <a href="{% url 'home:index' %}#contact">the contact page</a>. Thank you for taking the time to read about me and my business!
    </p>
  </div>
</section>
{% endblock %}
