{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section class="page">
  {% if messages %}
  <div class="container">
    {% include 'home/messages.html' %}
  </div>
  {% endif %}
  <div class="container max-w-480px">
    <form method="POST" enctype="multipart/form-data">
      <h1 class="h1">{% block title %}Add Site{% endblock %}</h1>
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form.visible_fields %}
      {{ field.errors }}
      {% if field.name == 'active' %}
      {% include 'fields/custom_checkbox.html' with field=form.active %}
      {% else %}
      {% if field.name == 'screenshots' %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% endif %}
      {{ field }}
      {% endif %}
      {% endfor %}
      <input class="btn btn-primary form-control" type="submit" value="Submit">
    </form>
  </div>
</section>
{% endblock %}
