{% extends 'home/base.html' %}

{% block content %}
<section class="page">
  {% if messages %}
  <div class="container">
    {% include 'home/messages.html' %}
  </div>
  {% endif %}
  <div class="container max-w-320px">
    <h1 class="h1">{% block title %}Dashboard{% endblock %}</h1>
    <div class="card">
      <h2 class="h2">Manage:</h2>
      <ul class="ul">
        <li><a href="{% url 'home:sites' %}{% comment %}
          Change to: {% url 'sites:manager' %}{% endcomment %}">Sites</a></li>
        <li><a href="{% url 'quotes:manager' %}">Quote Requests</a></li>
        {# <li><a href="{% url 'quotes:contacts' %}">Contacts</a></li> #}
      </ul>
    </div>
  </div>
</section>
{% endblock %}
