{% extends 'home/base.html' %}
{% load static %}

{% block title %}Edit {{ site.name }}{% endblock %}

{% block js %}
<!-- Home App JS -->
<script src="{% static 'home/js/reorder_screenshots.min.js' %}"></script>
<script src="{% static 'home/js/edit_sites.min.js' %}"></script>
{% endblock %}

{% block content %}
<section id="edit_site" class="page">
  {% if messages %}
  <div class="container">
    {% include 'home/messages.html' %}
  </div>
  {% endif %}
  <div class="container max-w-480px">
    <form method="POST" enctype="multipart/form-data">
      <h1 class="h1">Edit Site</h1>
      <h2 class="h2">{{ site.name }}{% if not site.active %} <em class="inactive">(Defunct)</em>{% endif %}</h2>
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form.visible_fields %}
      {{ field.errors }}
      {% if field.name == 'active' %}
      {% include 'fields/custom_checkbox.html' with field=form.active %}
      {% else %}
      {% if field.name == 'screenshots' %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% endif %}
      {{ field }}
      {% endif %}
      {% endfor %}
      <input type="hidden" name="order" value="[{% for screenshot in screenshots %}{{ screenshot.id}}{% if screenshot != screenshots|last %}, {% endif %}{% endfor %}]">
      {% if screenshots %}
      <a id="delete_screenshots" class="btn btn-danger" href="{% url 'home:delete-screenshots' site.id %}">Delete All</a>
      <button id="toggle_screenshots" class="btn btn-secondary">
        <span>Show</span> Screenshots <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="screenshot-list">
        {% for screenshot in screenshots %}
        <li data-id="{{ screenshot.id }}">
          <div class="controls">
            <i class="fas fa-caret-up fa-3x"></i>
            <i class="fas fa-caret-down fa-3x"></i>
          </div>
          <div class="thumbnail-container">
            <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
              <img src="{{ screenshot.thumbnail.url }}" alt="Thumbnail">
            </a>
          </div>
          <div class="btn-container">
            <a href="{% url 'home:delete-screenshot' site.id screenshot.id %}" class="btn btn-danger">Delete</a>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <input class="btn btn-primary form-control" type="submit" value="Submit">
    </form>
  </div>
</section>
{% endblock %}
