{% extends 'home/base.html' %}
{% load static %}

{% block title %}Edit {{ site.name }}{% endblock %}

{% block js %}
<!-- Home App JS -->
<script src="{% static 'home/js/reorder_screenshots.min.js' %}"></script>
{% endblock %}

{% block content %}
<section id="edit_site" class="page">
  <div class="container max-w-480px">
    {% include 'home/messages.html' %}
    <form method="POST" enctype="multipart/form-data">
      <h3 class="h3">Edit Site</h3>
      <h5 class="h5">{{ site.name }}</h5>
      {% csrf_token %}
      {{ form }}
      <input type="hidden" name="order" value="[{% for screenshot in screenshots %}{{ screenshot.id}}{% if screenshot != screenshots|last %}, {% endif %}{% endfor %}]">
      <ul class="screenshot-list">
        {% for screenshot in screenshots %}
        <li data-id="{{ screenshot.id }}">
          <div class="controls">
            <i class="fas fa-caret-up fa-3x"></i>
            <i class="fas fa-caret-down fa-3x"></i>
          </div>
          <div class="thumbnail-container">
            <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
              <img src="{{ screenshot.thumbnail.url }}" alt="Thumbnail">
            </a>
          </div>
          <div class="btn-container">
            <a href="{% url 'home:delete-screenshot' site.id screenshot.id %}" class="btn btn-danger">Delete</a>
          </div>
        </li>
        {% endfor %}
      </ul>
      <input class="btn btn-primary form-control" type="submit" value="Submit">
    </form>
  </div>
</section>
{% endblock %}
