{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<header>
  <h1 class="h1">McCarthy&nbsp;Web&nbsp;Design</h1>
  <div class="chevron text-center">
    <i class="fas fa-chevron-down"></i>
  </div>
</header>
<section>
  <div class="container">
    <h3 class="h3 text-center">Website Under Construction</h3>
    <p class="text-center">This site will contain more information later, but for now, it serves only as a contact page. You will find the owner's contact information and a link to this site's code in the section below.</p>
  </div>
  <div class="chevron text-center">
    <i class="fas fa-chevron-down"></i>
  </div>
</section>
<section>
  <div>
    <h3 class="h3 text-center">Contact</h3>
    <h5 class="h5 text-center">Matt McCarthy</h5>
    <h6 class="h6 text-center">Owner, Full Stack Web Developer</h6>
    <p class="text-center">
      <i class="fas fa-mobile-alt"></i><a href="tel:+17736123678">+1 (773) 612-3678</a>
    </p>
    <p class="text-center">
      <span class="text-nowrap"><i class="far fa-envelope-open"></i><a href="mailto:info@mccarthywebdesign.com">info@mccarthywebdesign.com</a></span>
    </p>
    <p class="text-center">
      <i class="fas fa-map-marker-alt"></i><a class="external-link" href="https://www.google.com/maps/place/Rogers+Park,+Chicago,+IL">Rogers Park, Chicago, IL</a>
    </p>
  </div>
</section>
{% include 'home/footer.html' %}
{% endblock %}
