{% extends 'home/base.html' %} {% load static %} {% block title %}Home and
Contact{% endblock %} {% block js %}
<!-- Home App JS -->
<script src="{% static 'home/js/index.min.js' %}"></script>
{% endblock %} {% block content %}
<div id="index">
  <header>
    <h1 class="h1 text-nowrap brand"></h1>
    <div class="container">
      <div class="card">
        <img src="{% static 'global/img/favicon.png' %}" alt="MC Logo" />
        <div>
          <h2 class="h2">
            Professional, Fully Featured Web Sites and Mobile Apps
          </h2>
          <h3 class="h3">Billed hourly</h3>
          <a class="btn btn-primary form-control" href="{% url 'quotes:index' %}">
            Request a Free Quote
          </a>
        </div>
      </div>
    </div>
    <button class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </button>
  </header>
  <section id="icons">
    <div class="container">
      <ul id="options">
        <li>
          <a href="{% url 'home:about' %}">
            <button tabindex="-1">
              <i class="fas fa-address-card fa-5x"></i>
            </button>
            <label class="text-center">About</label>
          </a>
        </li>
        <li>
          <a href="{% url 'home:portfolio' %}">
            <button tabindex="-1">
              <i class="fas fa-book-open fa-5x"></i>
            </button>
            <label class="text-center">Portfolio</label>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <button tabindex="-1">
              <i class="fas fa-mobile-alt fa-5x"></i>
            </button>
            <label class="text-center">Contact</label>
          </a>
        </li>
      </ul>
    </div>
    <button class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </button>
  </section>
  <section id="contact">
    <div>
      <h2 class="h2">Contact</h2>
      <h3 class="h3">Matt McCarthy</h3>
      <h4 class="h4">Full Stack Developer</h4>
      <ul>
        <li>
          <a href="mailto:info@mccarthycode.com">info@mccarthycode.com</a>
        </li>
        <li>
          <a
            class="external-link"
            href="https://www.google.com/maps/place/Rogers+Park,+Chicago,+IL"
            >Rogers Park, Chicago, IL</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
