{% extends 'home/base.html' %}
{% load static %}

{% block title %}Home and Contact{% endblock %}

{% block js %}
<!-- Home App JS -->
<script src="{% static 'home/js/index.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="index">
  <header>
    <h1 class="h1 text-nowrap">McCarthy Web Design</h1>
    <div class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </div>
  </header>
  <section id="icons">
    <div class="container">
      <ul id="options">
        <li>
          <a href="{% url 'home:about' %}">
            <div class="option-icon">
              <i class="fas fa-address-card fa-5x"></i>
            </div>
            <h5 class="h5 text-center">About</h5>
          </a>
        </li>
        <li>
          <a href="{% url 'home:portfolio' %}">
            <div class="option-icon">
              <i class="fas fa-book-open fa-5x"></i>
            </div>
            <h5 class="h5 text-center">Portfolio</h5>
          </a>
        <li>
          <a href="javascript:void(0);">
            <div class="option-icon">
              <i class="fas fa-mobile-alt fa-5x"></i>
            </div>
            <h5 class="h5 text-center">Contact</h5>
          </a>
        </li>
      </ul>
    </div>
    <div class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </div>
  </section>
  <section id="contact">
    <div>
      <h3 class="h3 text-nowrap">Contact</h3>
      <h5 class="h5 text-nowrap">Matt McCarthy</h5>
      <h6 class="h6 text-nowrap">Owner, Full Stack Web Developer</h6>
      <p>
        <span class="text-nowrap"><a href="tel:+17736123678">+1 (773) 612-3678</a></span>
      </p>
      <p>
        <span class="text-nowrap"><a href="mailto:info@mccarthywebdesign.com">info@mccarthywebdesign.com</a></span>
      </p>
      <p>
        <span class="text-nowrap"><a class="external-link" href="https://www.google.com/maps/place/Rogers+Park,+Chicago,+IL">Rogers Park, Chicago, IL</a></span>
      </p>
    </div>
  </section>
</div>
{% endblock %}