{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section class="page">
  <div class="container max-w-480px">
    {% include 'home/messages.html' %}
    <form method="POST">
      <h3 class="h3">{% block title %}Login{% endblock %}</h3>
      {% csrf_token %}
      <input class="form-control" type="text" name="username" placeholder="Username" required>
      <input class="form-control" type="password" name="password" placeholder="Password" required>
      <input class="btn btn-primary form-control" type="submit" value="Submit">
    </form>
  </div>
</section>
{% endblock %}
