{% extends 'home/base.html' %}
{% load static %}

{% block js %}
<!-- Home App JS (compressed) -->
<script src="{% static 'home/js/portfolio.min.js' %}"></script>

<!-- Home App JS (uncompressed) -->
<!-- <script src="{% static 'home/js/portfolio.js' %}"></script> -->
{% endblock %}

{% block content %}
<div id="portfolio">
  {% load custom_tags %}
  {% for site in sites %}
  <section>
    <div class="container">
      <div class="mobile d-block d-md-none">
        <h3 class="h3 text-center">{{ site.data.name }}</h3>
        <h5 class="h5">Web Address</h5>
        <h6 class="h6"><a href="{{ site.data.url }}" class="external-link">{{ site.data.url }}</a></h6>
        <h5 class="h5">Description</h5>
        <p>{{ site.data.description }}</p>
        <ul class="screenshot-list">
          {% for screenshot in site.screenshots %}
          <li>
            <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
              <img src="{{ screenshot.thumbnail.url }}">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="desktop d-none d-md-block">
        <div class="content">
          {% if forloop.counter|modulo:2 == 0 %}
          <div class="text">
            <h3 class="h3 text-center">{{ site.data.name }}</h3>
            <h5 class="h5">Web Address</h5>
            <h6 class="h6"><a href="{{ site.data.url }}" class="external-link">{{ site.data.url }}</a></h6>
            <h5 class="h5">Description</h5>
            <p>{{ site.data.description }}</p>
          </div>
          {% endif %}
          <ul class="screenshot-list">
            {% for screenshot in site.screenshots %}
            <li>
              <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
                <img src="{{ screenshot.thumbnail.url }}">
              </a>
            </li>
            {% endfor %}
          </ul>
          {% if forloop.counter|modulo:2 == 1 %}
          <div class="text">
            <h3 class="h3 text-center">{{ site.data.name }}</h3>
            <h5 class="h5">Web Address</h5>
            <h6 class="h6"><a href="{{ site.data.url }}" class="external-link">{{ site.data.url }}</a></h6>
            <h5 class="h5">Description</h5>
            <p>{{ site.data.description }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if site != sites|last %}
    <div class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </div>
    {% endif %}
  </section>
  {% endfor %}
</div>
{% endblock %}