{% extends 'home/base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block js %}
<!-- Home App JS -->
<script src="{% static 'home/js/portfolio.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="portfolio">
  {% load custom_tags %}
  {% for site in sites %}
  <section>
    <div class="container">
      <div class="mobile d-block d-md-none">
        {% include 'home/site_info.html' %}
        <ul class="screenshot-list">
          {% for screenshot in site.screenshots %}
          <li>
            <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
              <img src="{{ screenshot.thumbnail.url }}">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="desktop d-none d-md-block">
        <div class="content">
          {% if forloop.counter|modulo:2 == 0 %}
          {% include 'home/site_info.html' %}
          {% endif %}
          <ul class="screenshot-list">
            {% for screenshot in site.screenshots %}
            <li>
              <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
                <img src="{{ screenshot.thumbnail.url }}">
              </a>
            </li>
            {% endfor %}
          </ul>
          {% if forloop.counter|modulo:2 == 1 %}
          {% include 'home/site_info.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if site != sites|last %}
    <div class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </div>
    {% endif %}
  </section>
  {% endfor %}
</div>
{% endblock %}