{% extends 'home/base.html' %}
{% load static %}

{% block js %}
<!-- Home App JS -->
<script src="{% static 'home/js/portfolio.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="portfolio">
  {% load custom_tags %}
  <header>
    <div class="container">
      <div class="text card">
        <h3 class="h3 text-center">{% block title %}Portfolio{% endblock %}</h3>
        <div class="content">
          <div>
            <h5 class="h5">Table of Contents</h5>
            <ul class="ul contents">
              {% for site in sites %}
              <li><a href="#{{ site.data.slug }}" data-slug="{{ site.data.slug }}">{{ site.data.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <p>Below are the sites that MC has developed and maintained. Clicking on a screenshot will allow you view it fullscreen, and once in that view, clicking the left and right arrows or the gallery icon <span class="text-nowrap">( <i class="fas fa-th"></i> )</span> in the top right will allow you to view screenshots not shown in the preview. To get started, scroll down, click the down arrow, or choose a site from the table of contents.</p>
        </div>
      </div>
      {% if sites %}
      <div class="chevron text-center">
        <i class="fas fa-chevron-down"></i>
      </div>
      {% endif %}
    </div>
  </header>
  {% for site in sites %}
  <section id="{{ site.data.slug }}">
    <div class="container">
      <div class="content">
        <div class="text card{% if forloop.counter|modulo:2 == 0 %} d-md-none{% endif %}">
          {% include 'home/site_info.html' %}
        </div>
        <ul class="screenshot-list">
          {% for screenshot in site.screenshots %}
          <li>
            <a data-fancybox="gallery" href="{{ screenshot.image.url }}">
              <img src="{{ screenshot.thumbnail.url }}">
            </a>
          </li>
          {% endfor %}
        </ul>
        {% if forloop.counter|modulo:2 == 0 %}
        <div class="text card d-none d-md-block">
          {% include 'home/site_info.html' %}
        </div>
        {% endif %}
      </div>
    </div>
    {% if site != sites|last %}
    <div class="chevron text-center">
      <i class="fas fa-chevron-down"></i>
    </div>
    {% endif %}
  </section>
  {% endfor %}
</div>
{% endblock %}