{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section id="sites" class="page">
  {% if messages %}
  <div class="container">
    {% include 'home/messages.html' %}
  </div>
  {% endif %}
  <div class="container max-w-480px">
    <div class="header">
      <h3 class="h3">{% block title %}Edit Sites{% endblock %}</h3>
      <a class="btn btn-primary" href="{% url 'home:add-site' %}">Add Site</a>
    </div>
    <ul>
      {% for site in sites %}
      <li>
        <h5 class="h5 text-center">{{ site.data.name }}</h5>
        <div class="btn-container text-center">
          <a class="btn btn-secondary" href="{% url 'home:edit-site' site.data.id %}">Edit</a>
          <a class="btn btn-danger" href="{% url 'home:delete-site' site.data.id %}">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}