@import url("https://fonts.googleapis.com/css?family=Baloo|Open+Sans|Roboto+Mono|Varela+Round");
html, body {
  color: #1e1e1e;
}

h1.h1, h2.h2, h3.h3 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  color: #dcdcaa;
}

h4.h4, h5.h5, h6.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #bb846e;
}

p, ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a,
a:hover,
.fa-external-link-alt {
  color: #569cd6;
}

.fa-external-link-alt {
  display: inline;
  vertical-align: 1px;
  font-size: 0.8em;
  margin-left: 0.5em;
  cursor: pointer;
}

small {
  font-size: 0.8em;
}

.container {
  padding: 0;
}

.content img.float-left-sm, .content img.float-right-sm {
  display: block;
  margin: 0 auto 1rem auto;
  float: none;
  width: 300px;
}

ul.ul {
  list-style: disc;
}
ul.ul li {
  margin-left: 20px;
}

#index header, #index section, #portfolio header, #portfolio section {
  position: relative;
}
#index header .chevron, #index section .chevron, #portfolio header .chevron, #portfolio section .chevron {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 0;
  font-size: 2rem;
}
#index header .chevron i, #index section .chevron i, #portfolio header .chevron i, #portfolio section .chevron i {
  cursor: pointer;
}

@media (min-width: 576px) {
  .content img.float-left-sm {
    float: left;
    padding-right: 2rem;
  }
  .content img.float-right-sm {
    float: right;
    padding-left: 2rem;
  }
  .content img.float-left-sm, .content img.float-right-sm {
    margin: 0;
  }
}
#index header {
  position: relative;
  height: 100vh;
  background-image: -webkit-linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
  background-image: -moz-linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
  background-image: -o-linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
  background-image: linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
}
#index header h1.h1 {
  position: absolute;
  padding: 2rem;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #1e1e1e;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem #1e1e1e;
  text-align: center;
}
#index header h1.h1::before, #index header h1.h1::after {
  font-family: "Roboto Mono", Consolas, Lucida Console, Monaco, monospace;
  font-size: 0.5em;
  vertical-align: 6px;
  color: maroon;
}
#index header h1.h1::before {
  content: "<h1>";
}
#index header h1.h1::after {
  content: "</h1>";
}
#index #icons {
  position: relative;
  background: #333333;
  padding-top: 1rem;
  min-height: calc(100vh - 56px);
}
#index #icons .container {
  min-height: calc(100vh - 64px - 56px);
  position: relative;
  padding: 0 1rem;
}
#index #icons .container #options {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0;
}
#index #icons .container #options li {
  cursor: pointer;
  display: inline;
  width: 150px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
#index #icons .container #options li .option-icon {
  position: relative;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  background-color: #569cd6;
  margin: 0 auto 1rem auto;
}
#index #icons .container #options li .option-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333333;
}
#index #icons .container #options li h5.h5 {
  color: #bb846e;
}
#index #icons .container #options li a:hover {
  text-decoration-color: #bb846e;
}
#index #icons .chevron {
  color: #569cd6;
}
#index > :nth-child(odd) {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#index > :nth-child(odd) .chevron {
  color: maroon;
}
#index #contact {
  min-height: calc(248.8px + 32px);
  height: calc(100vh - 86.8px - 56px);
  background-image: -webkit-linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
  background-image: -moz-linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
  background-image: -o-linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
  background-image: linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
}
#index #contact > div {
  position: absolute;
  min-width: 288px;
  padding: 2rem;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem #1e1e1e;
}
#index #contact > div h3.h3 {
  color: #996f6f;
  font-weight: bold;
}
#index #contact > div h5.h5, #index #contact > div h6.h6 {
  color: black;
}
#index #contact > div p {
  margin-bottom: 0.25rem;
}
#index #contact > div p a, #index #contact > div p .fa-external-link-alt {
  color: #007fff;
}
#index #contact > div p .fa-external-link-alt {
  margin-left: 0.5em;
}

@media screen and (min-width: 339px) {
  #index section:nth-child(4) {
    min-height: calc(100vh - 66.8px - 56px);
  }
}
#portfolio section {
  height: calc(100vh - 56px);
}
#portfolio section .container {
  position: relative;
  min-height: calc(544px + 32px);
  height: calc(100vh - 56px - 64px);
  margin: 0 auto;
}
#portfolio section .container .mobile, #portfolio section .container .desktop {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}
#portfolio section .container .mobile .content, #portfolio section .container .desktop .content {
  display: grid;
  gap: 2rem;
  align-items: center;
}
#portfolio section .container .mobile a, #portfolio section .container .mobile .fa-external-link-alt, #portfolio section .container .desktop a, #portfolio section .container .desktop .fa-external-link-alt {
  color: aqua;
}
#portfolio section .container .mobile .screenshot-list, #portfolio section .container .desktop .screenshot-list {
  margin-bottom: 0;
}
#portfolio section .container .mobile .screenshot-list li, #portfolio section .container .desktop .screenshot-list li {
  margin-bottom: 0.5rem;
}
#portfolio section .container .mobile .screenshot-list li:first-child a img, #portfolio section .container .desktop .screenshot-list li:first-child a img {
  border: 0.25rem solid #bb846e;
}
#portfolio section .container .mobile .screenshot-list li:nth-child(2) a img, #portfolio section .container .desktop .screenshot-list li:nth-child(2) a img {
  border: 0.25rem solid #dcdcaa;
}
#portfolio section .container .mobile .screenshot-list li:last-child, #portfolio section .container .desktop .screenshot-list li:last-child {
  margin-bottom: 0;
}
#portfolio section .container .mobile .screenshot-list li:last-child a img, #portfolio section .container .desktop .screenshot-list li:last-child a img {
  border: 0.25rem solid aqua;
}
#portfolio section .container .mobile .text, #portfolio section .container .desktop .text {
  border: 2px solid #8181817f;
  padding: 2rem;
  background-color: #1e1e1e7f;
}
#portfolio section .container .mobile .text h6.h6, #portfolio section .container .desktop .text h6.h6 {
  margin-bottom: 1rem;
}
#portfolio section .container .mobile .text p, #portfolio section .container .desktop .text p {
  margin: 0;
}
#portfolio section .container .mobile {
  padding: 0 1rem;
}
#portfolio section .container .mobile .screenshot-list {
  margin: 0 auto;
}
#portfolio section .container .mobile .screenshot-list li {
  flex-grow: 1;
  text-align: center;
}
#portfolio section .container .mobile .screenshot-list li a {
  display: inline-block;
}
#portfolio section .container:first-child:last-child {
  height: calc(100vh - 56px - 86.6px);
}
#portfolio section .container:first-child {
  height: calc(100vh - 56px - 64px);
}
#portfolio section .container:last-child {
  min-height: calc(100vh - 86.6px - 64px);
}
#portfolio section .chevron {
  color: #569cd6;
}
#portfolio section:first-child:last-child {
  min-height: calc(100vh - 56px - 86.8px);
}
#portfolio section:first-child {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
}
#portfolio section:nth-child(odd) {
  background-color: #333333;
}
#portfolio section:nth-child(odd) .desktop .content {
  grid-template-columns: 308px auto;
}
#portfolio section:nth-child(even) {
  background-color: #444444;
}
#portfolio section:nth-child(even) .desktop .content {
  grid-template-columns: auto 308px;
}
#portfolio section:last-child {
  height: calc(100vh - 86.8px - 56px);
}

nav {
  font-family: "Baloo", Helvetica, Arial, sans-serif;
  background-color: #1e1e1e;
}
nav button {
  width: 44px;
  border: none !important;
  color: white !important;
  background-color: #1e1e1e;
  cursor: pointer;
}
nav button i {
  font-size: 1.8em;
  vertical-align: -5px;
}
nav button:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
nav .nav-item {
  text-align: center;
}
nav .nav-item a.nav-link {
  background-color: #333333;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  color: white !important;
}
nav .nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media (min-width: 768px) {
  nav .nav-item a.nav-link {
    background-color: #1e1e1e;
    margin-top: 0;
    padding: 0 0.5rem;
    vertical-align: middle;
  }
}
#footer {
  padding: 0.625rem 0 1rem 0;
  background-color: #1e1e1e;
  color: white;
}
#footer a,
#footer a:hover,
#footer .fa-external-link-alt {
  color: aqua;
}
#footer p {
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1;
}
#footer p:not(:last-child) {
  margin: 0 0 0.25em 0;
}
#footer p:last-child {
  margin: 0;
}
#footer .footer-list {
  max-width: 16rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}
#footer .footer-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0.25em -1px;
  list-style: none;
  padding-left: 0;
}
#footer .footer-list ul li {
  line-height: 0.8;
  flex: 1 0 auto;
  margin: 0.25em 0;
  padding: 0 0.5rem;
  text-align: center;
  border-left: 1px solid white;
}

.alert p {
  margin: 0;
}
.alert a:not(.close) {
  text-decoration: underline;
}

.alert-danger p {
  color: #721c24;
}
.alert-danger p a {
  color: #721c24;
}

.alert-success p {
  color: #155724;
}
.alert-success p a {
  color: #155724;
}

.alert-info p {
  color: #0c5460;
}
.alert-info p a {
  color: #0c5460;
}

section.form {
  margin-top: 56px;
  min-height: calc(100vh - 56px - 86.6px);
  background-color: #444444;
}
section.form .container {
  padding-top: 2rem;
}
section.form .container form {
  margin: 0 auto;
  max-width: 400px;
}
section.form .container form h2.h2 {
  color: #dcdcaa;
}

form input[type=text], form input[type=number], form input[type=password], form input[type=submit], form input[type=file], form textarea, form select, form label {
  margin-bottom: 0.5rem;
}
form label, form label:focus {
  color: white;
  border-color: #333333;
}
form input[type=text], form input[type=number], form input[type=password], form textarea.form-control, form select, form input[type=text]:focus, form input[type=number]:focus, form input[type=password]:focus, form textarea.form-control:focus, form select:focus {
  color: white;
  border-color: #333333;
  background-color: #333333;
}
form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
form .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
form label.form-control {
  cursor: pointer;
}
form select.form-control,
form select.form-control:focus {
  padding: 0 0.5rem;
  color: white;
  border-color: #333333;
  background-color: #333333;
}
form select.form-control option,
form select.form-control:focus option {
  padding: 0;
}
form input[type=file] {
  width: 100%;
  height: 38px;
  color: white;
}
form .input-group label {
  cursor: pointer;
}
form .input-group .input-group-append {
  border-color: #444444;
  background-color: #444444;
  width: 40px;
  height: 38px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  z-index: 3;
}
form .input-group .input-group-append input[type=radio], form .input-group .input-group-append input[type=checkbox], form .input-group .input-group-append .calendar {
  cursor: pointer;
  color: white;
}
form .input-group .input-group-append input[type=radio] {
  height: 16px;
  margin: auto;
}
form .input-group .input-group-append .input-group-text {
  color: white;
  border-color: #444444;
  background-color: #444444;
}
form .input-group .input-group-append .input-group-text i {
  min-width: 14px;
}
form .input-group-checkbox .input-group-append {
  padding: 11px 0.75rem;
}
form .radio {
  margin-bottom: 0;
}
form .radio li:not(.top) label {
  border-top-left-radius: 0;
}
form .radio li:not(.top) .input-group-append {
  border-top-right-radius: 0;
}
form .radio li:not(:last-child) label {
  margin-bottom: 0;
  border-bottom: 0;
  border-bottom-left-radius: 0;
}
form .radio li:not(:last-child) .input-group-append {
  border-bottom-right-radius: 0;
}
form .address > :not(:last-child),
form .password-confirm > :not(:last-child),
form .name > :not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}
form .address > :not(:first-child),
form .password-confirm > :not(:first-child),
form .name > :not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
form .city-state-zip > :nth-child(2) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
form .city-state-zip > :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
form .row {
  margin-right: 0;
  margin-left: 0;
}
form .errorlist {
  color: red;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .city-state-zip > :not(:last-child),
.number > :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .city-state-zip > :not(:first-child),
.number > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*# sourceMappingURL=home.css.map */
