@import url("https://fonts.googleapis.com/css?family=Baloo|Open+Sans|Roboto+Mono|Varela+Round");
html, body {
  color: #1e1e1e;
}

h1.h1, h3.h3 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h5.h5, h6.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p, ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a,
a:hover,
.fa-external-link-alt {
  color: #569cd6;
}

.fa-external-link-alt {
  display: inline;
  vertical-align: 1px;
  font-size: 0.625em;
  cursor: pointer;
}

small {
  font-size: 0.8em;
}

.container {
  padding: 0;
}

.content img.float-left-sm, .content img.float-right-sm {
  display: block;
  margin: 0 auto 1rem auto;
  float: none;
  width: 300px;
}

ul.ul {
  list-style: disc;
}
ul.ul li {
  margin-left: 20px;
}

header, section {
  position: relative;
  min-height: 100vh;
}
header .chevron, section .chevron {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 0;
  font-size: 2rem;
}
header .chevron i, section .chevron i {
  cursor: pointer;
}

section {
  min-height: calc(100vh - 56px);
}

@media (min-width: 576px) {
  .content img.float-left-sm {
    float: left;
    padding-right: 2rem;
  }
  .content img.float-right-sm {
    float: right;
    padding-left: 2rem;
  }
  .content img.float-left-sm, .content img.float-right-sm {
    margin: 0;
  }
}
#home header {
  position: relative;
  max-width: 100vw;
  background-image: -webkit-linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
  background-image: -moz-linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
  background-image: -o-linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
  background-image: linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
}
#home header h1.h1 {
  position: absolute;
  padding: 2rem;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #1e1e1e;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem #1e1e1e;
  text-align: center;
}
#home header h1.h1::before, #home header h1.h1::after {
  font-family: "Roboto Mono", Consolas, Lucida Console, Monaco, monospace;
  font-size: 0.5em;
  vertical-align: 6px;
  color: maroon;
}
#home header h1.h1::before {
  content: "<h1>";
}
#home header h1.h1::after {
  content: "</h1>";
}
#home #icons {
  position: relative;
  background: #333333;
  padding-top: 1rem;
}
#home #icons .container {
  min-height: calc(100vh - 64px - 56px);
  position: relative;
  padding: 0 1rem;
}
#home #icons .container #options {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0;
}
#home #icons .container #options li {
  cursor: pointer;
  display: inline;
  width: 150px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
#home #icons .container #options li .option-icon {
  position: relative;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  background-color: #569cd6;
  margin: 0 auto 1rem auto;
}
#home #icons .container #options li .option-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333333;
}
#home #icons .container #options li h5.h5 {
  color: #bb846e;
}
#home #icons .container #options li a:hover {
  text-decoration-color: #bb846e;
}
#home #icons .chevron {
  color: #569cd6;
}
#home header, #home section:nth-child(even) {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home header .chevron, #home section:nth-child(even) .chevron {
  color: maroon;
}
#home section:nth-child(4) {
  min-height: calc(100vh - 82.8px - 56px);
  background-image: -webkit-linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
  background-image: -moz-linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
  background-image: -o-linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
  background-image: linear-gradient(to bottom left, #996f6f, #f1ee59, #65d9fc);
}
#home section:nth-child(4) > div {
  position: absolute;
  min-width: 288px;
  padding: 2rem;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem #1e1e1e;
}
#home section:nth-child(4) > div p {
  margin-bottom: 0.25rem;
}
#home section:nth-child(4) > div p i {
  margin-right: 0.5rem;
}
#home section:nth-child(4) > div p a {
  color: #569cd6;
}

@media screen and (min-width: 339px) {
  #home section:nth-child(4) {
    min-height: calc(100vh - 66.8px - 56px);
  }
}
#portfolio section {
  background-color: #333333;
}
#portfolio section .chevron {
  color: #569cd6;
}
#portfolio section:first-child {
  min-height: 100vh;
}
#portfolio section:nth-child(even) {
  background-color: #444444;
}
#portfolio section:last-child {
  min-height: calc(100vh - 86.8px - 56px);
}

nav {
  font-family: "Baloo", Helvetica, Arial, sans-serif;
  background-color: #1e1e1e;
}
nav button {
  border: none !important;
  color: white !important;
}
nav button:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
nav .nav-item {
  text-align: center;
}
nav .nav-item a.nav-link {
  background-color: #333333;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  color: white !important;
}
nav .nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media (min-width: 768px) {
  nav .nav-item a.nav-link {
    background-color: #1e1e1e;
    margin-top: 0;
    padding: 0 0.5rem;
    vertical-align: middle;
  }
}
#footer {
  padding: 0.625rem 0 1rem 0;
  background-color: #1e1e1e;
  color: white;
}
#footer a,
#footer a:hover,
#footer .fa-external-link-alt {
  color: aqua;
}
#footer .fa-external-link-alt {
  font-size: 8px;
}
#footer p {
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1;
}
#footer p:not(:last-child) {
  margin: 0 0 0.25em 0;
}
#footer p:last-child {
  margin: 0;
}
#footer .footer-list {
  max-width: 16rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}
#footer .footer-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0.25em -1px;
  list-style: none;
  padding-left: 0;
}
#footer .footer-list ul li {
  line-height: 0.8;
  flex: 1 0 auto;
  margin: 0.25em 0;
  padding: 0 0.5rem;
  text-align: center;
  border-left: 1px solid white;
}

/*# sourceMappingURL=home.css.map */
