@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
header {
  max-width: 100vw;
  background-image: linear-gradient(to bottom right, #8cfab0, #5970f1, #cc65fc);
}

header, section {
  position: relative;
  min-height: 100vh;
}
header .h1, section .h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  padding: 2rem;
  margin: 0;
  text-align: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header, section:nth-child(even) {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .h1, section:nth-child(even) .h1 {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem #333333;
}

section:nth-child(odd) {
  background: #333333;
  color: white;
}

section:nth-child(4) {
  background-image: linear-gradient(to bottom left, #fa8c8c, #f1ee59, #65d9fc);
}

nav {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  background-color: #333333;
}
nav button {
  border: none !important;
  color: white !important;
}
nav button:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
nav .nav-item {
  text-align: center;
}
nav .nav-item a.nav-link {
  background-color: #7f7f7f;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  color: white !important;
}
nav .nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media (min-width: 768px) {
  nav .nav-item a.nav-link {
    background-color: #333333;
    margin-top: 0;
    padding: 0 0.5rem;
    vertical-align: middle;
  }
}
#footer {
  padding: 1rem 0;
  background-color: #333333;
  color: white;
}
#footer p {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1;
}
#footer .footer-list {
  max-width: 16rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}
#footer .footer-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0.25em -1px;
  list-style: none;
  padding-left: 0;
}
#footer .footer-list ul li {
  line-height: 0.75em;
  flex: 1 0 auto;
  margin: 0.25em 0;
  padding: 0 0.5rem;
  text-align: center;
  border-left: 1px solid white;
}

.h1, .h3 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

.h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p, ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a,
a:hover,
.fa-external-link-alt {
  color: #00ffff;
}

.fa-external-link-alt {
  display: inline;
  vertical-align: 1px;
  font-size: 8px;
  cursor: pointer;
}

small {
  font-size: 0.8rem;
}

.container {
  padding: 0;
}

.content img.float-left-sm, .content img.float-right-sm {
  display: block;
  margin: 0 auto 1rem auto;
  float: none;
  width: 300px;
}

ul.ul {
  list-style: disc;
}
ul.ul li {
  margin-left: 20px;
}

@media (min-width: 576px) {
  .content img.float-left-sm {
    float: left;
    padding-right: 2rem;
  }
  .content img.float-right-sm {
    float: right;
    padding-left: 2rem;
  }
  .content img.float-left-sm, .content img.float-right-sm {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
