#about
  .body
    border-radius: .5rem
    padding: 2rem
    background-color: $dark-gray
    color: $white

    p
      text-align: justify

      &:last-child
        margin-bottom: 0

    .img-container
      width: 100%
      margin: 0 auto 1rem auto
      text-align: center
      display: inline-block

      &:first-child
        margin-top: 0

      img
        width: 100%
        max-width: 266px
        border: .5rem solid #617275
        border-radius: 50%

@include media-breakpoint-up(md)
  #about .body .img-container
    width: 266px
    margin: 31px 2rem

    &:first-child
      margin-top: 31px
