#about
  .body
    border-radius: .5rem
    padding: 1rem
    background-color: $gray-15
    color: $white

    p
      text-align: justify

      &:last-child
        margin-bottom: 0

    .img-container
      width: 100%
      margin: 0 auto 1rem auto
      text-align: center
      display: inline-block

      a
        margin: 0
        width: 100%
        max-width: 266px
        display: inline-block
        background-color: $gray-65
        padding: .5rem
        border-radius: 50%

        img
          width: 100%
          border-radius: 50%

@include media-breakpoint-up(md)
  #about .body
    padding: 2rem

    .img-container
      width: 266px
      margin: 31px 2rem

      &:first-child
        margin-top: 31px
