#about
  .body
    border-radius: .5rem
    padding: 2rem
    background-color: $dark-gray
    color: $white

  .img-container
    width: 100%
    margin: 0 auto 1rem auto
    text-align: center
    display: inline-block

    img
      width: 100%
      max-width: 266px
      border: .5rem solid #617275
      border-radius: 50%

  p
    text-align: justify

@include media-breakpoint-up(md)
  #about .img-container
    width: 266px
    margin: 31px 2rem
