#edit_site form
  h5.h5
    margin-bottom: 1rem

  .screenshot-list
    padding: 0

    li
      list-style: none
      display: flex
      position: relative
      background-color: $gray-15
      width: 100%
      min-width: 290px
      border: 1px solid $gray-35
      border-radius: 3px
      margin: 0 auto .5rem auto
      padding: .5rem 0
      justify-content: space-evenly

      .controls
        display: flex
        flex-wrap: wrap
        align-content: space-around
        width: 30px

        i
          display: inline-block
          cursor: pointer
          color: $gray-30
          @include transition(color)

          &, &::before
            height: 50px
            line-height: 1

          &:hover
            color: $blue

      .thumbnail-container
        display: flex
        justify-content: center
        width: 179px
        height: 100px

        img
          height: 100px

      .btn-container
        display: flex
        align-items: center
        height: 100px

    li:last-child a img
      margin-bottom: 0

    li:first-child .controls i:first-child,
    li:last-child .controls i:last-child
      visibility: hidden

  input[type="submit"]
    margin-bottom: 1rem !important
