#footer
  padding: 0.625rem 0 1rem 0
  background-color: $dark-gray
  color: $white

  a, .fa-external-link-alt
    color: $aqua

  p
    text-align: center
    font-family: $font-body
    line-height: 1

    &:not(:last-child)
      margin-bottom: .5em

    &:last-child
      margin: 0

  .footer-list
    height: 25px
    max-width: 11rem
    position: relative
    margin: auto
    overflow: hidden

    ul
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      margin: 2px 0 2px -1px
      list-style: none
      padding-left: 0

      li
        line-height: 0.8
        flex: 1 0 auto
        margin: 0.25em 0
        padding: 0 0.5rem
        text-align: center
        border-left: 1px solid white

        a
          vertical-align: 2px

        i
          vertical-align: 3px
