section.form
  margin-top: 56px
  min-height: calc(100vh - 56px - 91px)
  background-color: $mid-gray

  .container
    padding-top: 2rem

    form
      margin: 0 auto
      max-width: 400px

form
  input[type="text"], input[type="number"], input[type="password"], input[type="submit"], input[type="file"], textarea, select, label
    margin-bottom: .5rem

  label, label:focus
    color: $white
    border-color: $mid-gray

  input[type="text"], input[type="number"], input[type="password"], textarea.form-control, select, input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea.form-control:focus, select:focus
    border-radius: 3px
    color: $white
    border-color: $lighter-gray
    background-color: $dark-gray

  textarea
    margin-bottom: 0

    & + div
      color: $lightest-gray
      text-align: right

  .g-recaptcha
    display: flex
    justify-content: center
    margin-bottom: .5rem

  .form-control::placeholder
    color: $white-50

  .form-control::-ms-input-placeholder
    color: $white-50

  label.form-control
    cursor: pointer

  select.form-control,
  select.form-control:focus
    padding: 0 .5rem
    color: $white
    border-color: $mid-gray
    background-color: $mid-gray

    option
      padding: 0

  input[type="file"]
    width: 100%
    color: $white

  .input-group
    label
      cursor: pointer

    .input-group-append
      border-color: $lighter-gray
      background-color: $lighter-gray
      width: 40px
      height: 38px
      border-top-right-radius: .25rem
      border-bottom-right-radius: .25rem
      z-index: 3

      input[type="radio"], input[type="checkbox"], .calendar
        cursor: pointer
        color: $white

      input[type="radio"]
        height: 16px
        margin: auto

      .input-group-text
        color: $white
        border-color: $lighter-gray
        background-color: $lighter-gray

        i
          min-width: 14px

  .input-group-checkbox .input-group-append
    padding: 11px .75rem

  .radio
    margin-bottom: 0

    li:not(.top) // li:not(:first-child) not working
      label
        border-top-left-radius: 0

      .input-group-append
        border-top-right-radius: 0

    li:not(:last-child)
      label
        margin-bottom: 0
        border-bottom: 0
        border-bottom-left-radius: 0

      .input-group-append
        border-bottom-right-radius: 0

  .address,
  .password-confirm,
  .name
    & > :not(:last-child)
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      margin-bottom: -1px

    & > :not(:first-child)
      border-top-right-radius: 0
      border-top-left-radius: 0

  .city-state-zip
    & > :nth-child(2)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    & > :last-child
      border-top-left-radius: 0
      border-bottom-left-radius: 0

  .row
    margin-right: 0
    margin-left: 0

  .errorlist
    color: $light-red
    margin-bottom: .5rem

@include media-breakpoint-up(md)
  .city-state-zip,
  .number
    & > :not(:last-child)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    & > :not(:first-child)
      border-top-left-radius: 0
      border-bottom-left-radius: 0
