@import url('https://fonts.googleapis.com/css?family=Baloo|Open+Sans|Roboto+Mono|Varela+Round')
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss'

@import 'variables'
@import 'mixins'

h1.h1, h2.h2, h3.h3
  margin-bottom: 1rem

  &, & > a
    font-family: $font-title
    color: $yellow

  & > a:not(.btn)
    text-decoration: underline

  & > a:hover
    color: $aqua

h4.h4, h5.h5, h6.h6
  &, & > a
    font-family: $font-body
    color: $orange

p, ul
  font-family: $font-body
  line-height: 1.5
  margin-bottom: 1rem

body
  a, a:hover, .fa-external-link-alt
    @include transition(color)
    color: $aqua

.fa-external-link-alt
  display: inline
  vertical-align: 1px
  font-size: 0.8em
  cursor: pointer

a[data-fancybox="gallery"]
  cursor: zoom-in

small
  font-size: 0.8em

.container
  padding: 0

.content
  img.float-left-sm, img.float-right-sm
    display: block
    margin: 0 auto 1rem auto
    float: none
    width: 300px

ul.ul
  list-style: disc

  li
    margin-left: 1.25rem

body .btn
  height: 2.25rem
  line-height: 1

input[type="submit"]
  padding-top: 12px
  padding-bottom: 6px

#index, #portfolio
  header, section
    position: relative

    .chevron
      position: absolute
      right: 0
      bottom: 0
      left: 0
      padding: 0.5rem 0
      font-size: 2rem

      i
        cursor: pointer

@include media-breakpoint-up(sm)
  .content
    img.float-left-sm
      float: left
      padding-right: 2rem

    img.float-right-sm
      float: right
      padding-left: 2rem

    img.float-left-sm, img.float-right-sm
      margin: 0
