html, body
  color: $dark-gray

h1.h1, h1.h1 > a,
h2.h2, h2.h2 > a,
h3.h3, h3.h3 > a
  font-family: $font-title
  color: $yellow

h1.h1 > a,
h2.h2 > a,
h3.h3 > a
  text-decoration: underline

h1.h1 > a:hover,
h2.h2 > a:hover,
h3.h3 > a:hover
  color: $aqua

h4.h4, h4.h4 > a,
h5.h5, h5.h5 > a,
h6.h6, h6.h6 > a
  font-family: $font-body
  color: $orange

p, ul
  font-family: $font-body
  line-height: 1.5
  margin-bottom: 1rem

a,
a:hover,
.fa-external-link-alt
  @include transition(color)
  color: $aqua

.fa-external-link-alt
  display: inline
  vertical-align: 1px
  font-size: 0.8em
  margin-left: .5em
  cursor: pointer

small
  font-size: 0.8em

.container
  padding: 0

.content
  img.float-left-sm, img.float-right-sm
    display: block
    margin: 0 auto 1rem auto
    float: none
    width: 300px

ul.ul
  list-style: disc

  li
    margin-left: 20px

#index, #portfolio
  header, section
    position: relative

    .chevron
      position: absolute
      right: 0
      bottom: 0
      left: 0
      padding: 0.5rem 0
      font-size: 2rem

      i
        cursor: pointer

@media (min-width: $breakpoint-sm)
  .content
    img.float-left-sm
      float: left
      padding-right: 2rem

    img.float-right-sm
      float: right
      padding-left: 2rem

    img.float-left-sm, img.float-right-sm
      margin: 0
