header
  position: relative
  max-width: 100vw
  @include gradient(to bottom right, rgb(140, 250, 176), rgb(89, 112, 241), rgb(204, 101, 252))

  .h1
    position: absolute
    padding: 2rem
    margin: 0
    top: 50%
    left: 50%
    @include transform(translate(-50%, -50%))
    color: $dark-gray
    background-color: $white-50
    box-shadow: 0 0 1rem $dark-gray
    text-align: center

  .h1::before, .h1::after
    font-family: $font-monospace
    font-size: 0.5em
    vertical-align: 6px
    color: $maroon

  .h1::before
    content: "<h1>"

  .h1::after
    content: "</h1>"

header, section
  position: relative
  min-height: 100vh

  .chevron
    position: absolute
    right: 0
    bottom: 0
    left: 0
    padding: 0.5rem 0
    font-size: 2rem

    i
      cursor: pointer

section
  min-height: calc(100vh - 46px)

section:nth-child(odd)
  position: relative
  background: $gray
  color: $white

  .container
    position: absolute
    top: 50%
    left: 50%
    @include transform(translate(-50%, -50%))
    margin-bottom: 49px
    padding: 1rem

    .h3
      color: $orange

      sup
        font-size: 0.75em

  .chevron
    color: $blue

header, section:nth-child(even)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .chevron
    color: $maroon

section:nth-child(4)
  min-height: calc(100vh - 66.8px - 46px)
  @include gradient(to bottom left, rgb(250, 140, 140), rgb(241, 238, 89), rgb(101, 217, 252))

section:nth-child(4) > div
  position: absolute
  min-width: 320px - (2 * 16px)
  padding: 2rem
  margin: 0
  top: 50%
  left: 50%
  @include transform(translate(-50%, -50%))
  background-color: $white-50
  box-shadow: 0 0 1rem $dark-gray

  p
    margin-bottom: 0.25rem

    i
      margin-right: 0.5rem

    a
      color: $blue
