#index
  header h1.h1, #contact > div
    position: absolute
    top: 50%
    left: 50%
    min-width: 320px - (2 * 16px)
    padding: 2rem
    margin: 0
    background-color: $white-50
    border-radius: .5rem
    text-align: center
    @include transform(translate(-50%, -50%))

  header
    position: relative
    height: 100vh
    @include gradient(150deg, $cold-colors-light)

    h1.h1
      color: $darker-gray

      &::after
        content: 'TM'
        position: absolute
        top: 2rem
        font-size: .25em
        color: $mid-gray

  #icons
    position: relative
    background: $mid-gray
    padding-top: 1rem
    min-height: calc(100vh - 56px)

    .container
      min-height: calc(100vh - 64px - 56px)
      position: relative
      padding: 0 1rem

      #options
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        padding: 1rem
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        margin-bottom: 0
        @include transform(translate(-50%, -50%))

        li
          cursor: pointer
          display: inline
          width: 150px
          margin: 0 .5rem .5rem .5rem

          .option-icon
            position: relative
            border-radius: 75px
            width: 150px
            height: 150px
            background-color: $blue
            margin: 0 auto 1rem auto

            i
              position: absolute
              top: 50%
              left: 50%
              color: $mid-gray
              @include transform(translate(-50%, -50%))

          h5.h5
            color: $orange

          a:hover
            text-decoration-color: $orange

    .chevron
      color: $blue

  & > :nth-child(odd)
    @include fixed-background

    .chevron
      color: $maroon

  #contact
    min-height: calc(248.8px + 32px)
    height: calc(100vh - 91px - 56px)
    @include gradient(210deg, $warm-colors-light)

    & > div
      min-width: 320px - (2 * 16px)

      h3.h3
        margin-bottom: .5rem
        color: $copper-rose
        font-weight: bold

      h5.h5, h6.h6
        color: $black

      p
        margin-bottom: 0.25rem

        a, .fa-external-link-alt
          color: $azure-radiance

        .fa-external-link-alt
          margin-left: 0.5em

      & > :last-child
        margin-bottom: 0
