#portfolio
  section
    background-color: $gray

    .chevron
      color: $blue

  section:first-child
    min-height: 100vh

  section:nth-child(even)
    background-color: $light-gray

  section:last-child
    min-height: calc(100vh - 86.8px - 56px)
