#portfolio
  header, section
    display: flex
    align-items: center
    justify-content: center
    min-height: calc(100vh - 56px)

    .container
      display: flex
      align-items: center
      justify-content: center
      min-height: calc(544px + 32px)
      margin: 1rem auto 4rem auto

      &:first-child:last-child
        min-height: calc(100vh - 56px - 91px)

      &:first-child
        min-height: calc(100vh - 56px - 64px)

      &:last-child
        min-height: calc(100vh - 91px - 64px)

      .mobile, .desktop
        color: $white

        .content
          display: grid
          gap: 2rem
          align-items: center

        a, .fa-external-link-alt
          color: $aqua

        .screenshot-list
          margin-bottom: 0

          li
            margin-bottom: .5rem
            display: flex
            justify-content: center

            &:nth-child(3n + 1) a img
              border: .25rem solid $orange

            &:nth-child(3n + 2) a img
              border: .25rem solid $yellow

            &:nth-child(3n) a img
              border: .25rem solid $aqua

            &:last-child
              margin-bottom: 0

        .text
          border-radius: .5rem
          padding: 2rem
          background-color: $dark-gray-50

          h6.h6
            margin-bottom: 1rem

          p
            margin: 0

      .mobile
        padding: 0 1rem

        .screenshot-list
          margin: 0 auto

          li
            flex-grow: 1
            text-align: center

            a
              display: inline-block

        .text
          margin-bottom: 1rem

      .desktop .screenshot-list img
        max-height: 176px

    .chevron
      color: $blue
    
    &:last-child .container
      margin-bottom: 1rem

  section:first-child:last-child
    min-height: calc(100vh - 56px - 91px)

  section:first-child
    margin-top: 56px
    min-height: calc(100vh - 56px)

  section:nth-child(odd)
    background-color: $mid-gray

    .desktop .content
      grid-template-columns: 308px auto

  section:nth-child(even)
    background-color: $light-gray

    .desktop .content
      grid-template-columns: auto 308px

  section:last-child
    min-height: calc(100vh - 91px - 56px)

@include media-breakpoint-up(md)
  #portfolio
    header, section
      .container
        margin: 0 auto
