#portfolio
  section
    height: calc(100vh - 56px)

    .container
      position: relative
      min-height: calc(544px + 32px)
      height: calc(100vh - 56px - 64px)
      margin: 0 auto

      .mobile, .desktop
        position: absolute
        top: 50%
        left: 0
        right: 0
        @include transform(translateY(-50%))
        color: $white

        .content
          display: grid
          gap: 2rem
          align-items: center

        a, .fa-external-link-alt
          color: $aqua

        .screenshot-list
          margin-bottom: 0

          li
            margin-bottom: .5rem

          li:nth-child(3n + 1) a img
            border: .25rem solid $orange

          li:nth-child(3n + 2) a img
            border: .25rem solid $yellow

          li:nth-child(3n) a img
            border: .25rem solid $aqua

          li:last-child
            margin-bottom: 0

        .text
          border: 2px solid $lighter-gray-50
          padding: 2rem
          background-color: $dark-gray-50

          h6.h6
            margin-bottom: 1rem

          p
            margin: 0

      .mobile
        padding: 0 1rem

        .screenshot-list
          margin: 0 auto

          li
            flex-grow: 1
            text-align: center

            a
              display: inline-block

    .container:first-child:last-child
      height: calc(100vh - 56px - 91px)

    .container:first-child
      height: calc(100vh - 56px - 64px)

    .container:last-child
      min-height: calc(100vh - 91px - 64px)

    .chevron
      color: $blue

  section:first-child:last-child
    min-height: calc(100vh - 56px - 91px)

  section:first-child
    margin-top: 56px
    min-height: calc(100vh - 56px)

  section:nth-child(odd)
    background-color: $mid-gray

    .desktop .content
      grid-template-columns: 308px auto

  section:nth-child(even)
    background-color: $light-gray

    .desktop .content
      grid-template-columns: auto 308px

  section:last-child
    height: calc(100vh - 91px - 56px)
