#sites .container:last-child
  .header
    display: flex
    justify-content: space-between
    align-items: center

    & > *
      display: inline-block
      margin-bottom: 1rem

    & > .btn
      padding: 9px 10px 0px 11px

  li
    &:not(.empty)
      margin-bottom: .5rem
      border: 1px solid $gray-35
      border-radius: 3px
      padding: 1rem
      background-color: $gray-15

    h5.h5
      margin: -5px 0 12px 0

    .btn
      padding: 8px 11px 2px 10px

    &:last-child
      margin-bottom: 0

    &.empty
      text-align: center
      color: $gray-60
