#sites
  min-height: calc(100vh - 56px - 91px)
  margin-top: 56px
  padding: 1rem 0
  background-color: $light-gray

  .container:last-child
    max-width: 400px

    .header
      margin-bottom: .5rem

      > *
        display: inline-block

    li
      background-color: $mid-gray
      border-radius: .25rem
      padding: 1rem
      margin-bottom: .5rem

    li:last-child
      margin-bottom: 0
