$lighter-gray: #818181
$light-gray: #444444
$gray: #333333
$dark-gray: #1e1e1e

$white: white
$white-75: rgba(255, 255, 255, 0.75)
$white-50: rgba(255, 255, 255, 0.50)
$black: black

$cyan: #00ffff

$font-title: 'Varela Round', Helvetica, Arial, sans-serif
$font-body: 'Open Sans', Helvetica, Arial, sans-serif

$breakpoint-xs: 0
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
