{% extends 'home/base.html' %}

{% block js %}  <!-- reCAPTCHA v2 JS -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<section class="page">
  <div class="container max-w-480px">
    {% include 'home/messages.html' %}
    <form method="POST">
      <h3 class="h3">{% block title %}Request a Quote{% endblock %}</h3>
      {% csrf_token %}
      {{ form }}
      <div
        class="g-recaptcha"
        data-sitekey="{{ recaptcha_site_key }}"
        data-theme="dark"
      ></div>
      <input class="btn btn-primary form-control" type="submit" value="Submit Request">
    </form>
  </div>
</section>
{% endblock %}
