{% extends 'home/base.html' %}

{% block body %}
<section id="page">
  <div class="container">
    <h1 class="h1">HTTP {% block code %}{% endblock %} <span class="text-nowrap">({% block description %}{% endblock %}) <i class="fas fa-{% block icon %}{% endblock %}"></i></span></h1>
    <p>{% block message %}{% endblock %} You may return to the home page by <a href="{% url 'home:index' %}">clicking&nbsp;here</a>. McCarthy Web Design apologizes for bringing you to an error page.</p>
  </div>
  </div>
</section>
{% endblock %}
